<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Firebase App (core SDK) -->

  <title>Login Page</title>
  <link rel="stylesheet" href="loginStyle.css"/>

</head>
<body>
  <div class="background">
    <div class="header">
      <h1>FCM Dallas</h1>
    </div>
    <div class="login-box">
      <h2>Welcome!</h2>
      <p>To access our Data please log in<br/>using your personal credentials</p>
      
      <form>
        <div class="input-group">
          <input type="email" placeholder="Email" required />
          <span class="icon email-icon"></span>
        </div>
        <div class="input-group">
          <input type="password" placeholder="Password" required />
          <span class="icon password-icon" ></span>
        </div>
        <a href="#" class="forgot">Forget Your Password ?</a>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>

  <script type="module" src="./auth.js"></script>

</p>

</body>
</html>
